body {
  text-align: center;
  font-family: 'Cabin', sans-serif;
  color: #3a3a3a;
  /*animation: reveal 5s 1;*/
  padding-bottom: 400px;
  background-color: #dac999;
}

@keyframes reveal {
  0% {
    background: #3a3a3a;
  }
  30% {
    background: #3a3a3a;
  }
  100% {
    background: #f4f0e6;
  }
}

a, a:hover, a:visited {
  color: inherit;
}

p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 40px;
  margin-bottom: 40px;
}

header h1 {
  height: 200px;
  line-height: 200px;
  font-family: 'Parisienne', cursive;
  font-size: 50pt;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 5px solid #3a3a3a;
  border-bottom: 5px solid #3a3a3a;
}

header h1 span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

header h1 .background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  height: 200px;
  background-color: #f5eaca;
  text-align: right;
  overflow: hidden;
}

header h1 .background img {
  filter: opacity(40%);
  transition: 1s;
}

header h1:hover .background img {
  filter: unset;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
}

nav a:hover, nav a.selected {
  border-bottom: solid 3px #3a3a3a;
}

#sections {
  overflow: hidden;
  position: relative;
}

section {
  max-width: 875px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

section:not(:first-child) {
  display: none;
}

.venue img {
  width: 400px;
  padding: 0 5px;
}

@media (max-width: 450px) {
  .venue img {
    width: 90%;
  }
}

.clear {
  clear: both;
}

#story img {
  width: 250px;
  height: 250px;
}

#story hr {
  border: none;
  background: #99a488;
  height: 3px;
  margin: 30px 10px;
}

#registry ul {
  margin: 0 auto;
  max-width: 550px;
  text-align: center;
}

#registry li {
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

#registry img:hover {
  filter: opacity(0.5);
}

@media (min-width: 600px) {
  #story .left {
    text-align: left;
  }

  #story .left img {
    float: left;
    margin-right: 10px;
  }

  #story .right {
    text-align: right;
  }

  #story .right img {
    float: right;
    margin-left: 10px;
  }
}

@media (max-width: 600px) {
  #story > p {
    text-align: center;
  }

  #story > p img {
    float: none;
    display: block;
    margin: 10px auto;
  }
}

#map {
  height: 250px;
  width: 400px;
  margin: 20px auto;
}

#rsvp iframe {
  width: 600px;
  height: 1400px;
}

#rsvp-code label {
  display: block;
  margin-bottom: 20px;
}

#rsvp-code input {
  font-size: 25pt;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  background: none;
}

#rsvp-form {
  display: none;
}

#rsvp-error {
  display: none;
  color: #ff2222;
}

@media (max-width: 600px) {
  header h1 {
    font-size: 35pt;
  }

  #map {
    width: 80%;
  }

  #rsvp iframe {
    width: 80%;
  }

  #story > p {
    text-align: center;
  }

  #story > p img {
    float: none;
  }
}
